nav {
  margin-bottom: 20px;
  line-height: 2;
}

nav a {
  text-decoration: none;
  color: #2f2f2f;
  font-weight: bold;
  margin: 0 6px;
}

nav a:hover {
  color: #A3A380;
}

main {
  padding: 20px;
}

footer {
  margin-top: 30px;
  padding: 15px;
}
